.card-01 {

padding: 20px;
gap: 12px;


}

.dotL {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
}
.dotM {
    width: 6px;
    height: 6px;
    background: #27BD50;
    border-radius: 50%;
    display: inline-block;
}

