.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px; 
    overflow: hidden;
  }
  
  .footer-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
   
  }
  
  .footer-content {
    position: relative;
   
    text-align: center;
    color: white;
    padding: 20px;
  }
  