

.navLink {
  position: relative;
  display: flex;
  align-items: center; /* Aligns the button and label vertically */
}

.hoverLabel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  position: absolute; /* Position next to the button */
  left: 100%; /* Position next to the button */
  width: 97px;
  height: 32px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  z-index: 1; /* Ensure it appears above other elements */
}


.navButton {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 40px;
  height: 40px;
  padding: 0 11px;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navButton:first-child {
  margin-top: 0;
}

.navButton.active {
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 900;
}

.navButton:hover,
.navButton:focus {
  background-color: rgba(255, 255, 255, 0.7);
  outline: none;
}

.navButton:focus-visible {
  box-shadow: 0 0 0 2px rgba(119, 127, 161, 0.5);
}




.btn-nav{
  /* Home_Nav_Button */



/* 
justify-content: center;
align-items: center;
padding: 14.4361px 13.2331px;

width: 48px;
height: 48.12px;

background: rgba(255, 255, 255, 0.8);
border: 1.20301px solid #FFFFFF;
border-radius: 120.301px;
 */

}